<div class="login-page">
  <div class="form">
    <%= form_for :session, url: "https://call-log-rails.herokuapp.com/auth/login",html: {class: "login-form"}  do |f|  %>
        <%= f.text_field :email, placeholder: "email" %>
        <%= f.password_field :password, placeholder: "password" %>

        <%= f.submit "Sign in",class: "btn btn-primary" %>

        <p class="message">Not registered? <a href="#">Create an account</a></p>
    <% end %>
  </div>
</div>
